body {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    background: -webkit-linear-gradient(to right, #1B3358, #473E66); 
    background: linear-gradient(to right, #1B3358, #473E66); 
    color:whitesmoke;
}

.signup {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

input {
    width: 75%;
    margin: 10px 0;
    padding: 15px 18px;
    box-sizing: border-box;
    align-self: center;
    border-radius: 15px;
    border: none;
}

button {
    background-color: #030804;
    color: white;
    padding: 14px 20px;
    margin: 7px 0;
    width: 75%;
    font-size: 18px;
    align-self: center;
    border-radius: 15px;
    border: none;
}

button:hover {
    opacity: 0.6;
    cursor: pointer;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    width:35rem;
    margin: auto;
    color:whitesmoke;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(11, 15, 13, 0.582);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 30px;
    box-shadow: 10px 5px 5px black;
}

@media screen and (max-width: 600px) {
    form{
      width: 25rem;
    }
  
  }
  
  @media screen and (max-width: 400px) {
    form{
      width: 20rem;
    }
  }